
body{
    background-color: black;
}
header div{
    text-align: center;
}

header div a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;

}

/* estilos del contenedor */
.contenedor{
    background-color: tomato;
    display: grid;
    /* 3 columnas de 1fr */    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 250px;
    gap: 0.3rem;
}

/* estilos de los items */

.item{
    background-color: beige;
}

/* .item-cinco{
    background-color: brown;
    (quiero que el item 5 vaya desde el eje 2 al 4 - columna 2 y 3)
    grid-column: 2 / 4;
} */

/* .item-tres{
    background-color: brown;
    (quiero que el item 3 vaya desde el eje 1 al 3 - fila 1 y 2)
    grid-row: 1 / 3;
    (para que me ocupe la 3ra columna)
    grid-column: 3 / 4 ;
} */

               /* la otra forma */

/* .item-cinco{
    background-color: brown;
    grid-column: span 2;
} */

.item-tres{ 
    background-color: brown;
    grid-row: span 2;
}